<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMEGRAM</title>
    <link rel="icon"
        href="memes/logo.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/miPerfil.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">


<!-- tipografias-->

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">


    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <% if (locals.user){ %> 
        <%- include('./partials/headerLogueado')  %> 
        <% } else { %>
        <%- include("./partials/headerDeslogueado") %>
        <% } %>  
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                        <img src="/memes/fotoperfil.png" alt="foto de perfil" class="foto-perfil inverted">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-around">
                        <div class="uk-flex uk-flex-middle">
                            <form action="/users/edit/<%= usuario.id  %> " method="POST">
                                <input type="text" name="nombre_usuario" id="" placeholder="<%= usuario.nombre_usuario  %> ">
                            </form>
                            <a href="" uk-icon="icon:cog; ratio: 1.2" class="uk-margin-left"></a>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs')  %> 

</body>

</html>